# Compiles
build/
bin/
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe

# Verilator Generated
obj_dir/
Vtop_latency_arb*

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
data/

# IDEs
.vscode/
.idea/
*.swp
